APP_NAME=gift-tax-rag-server
APP_ENV=local
APP_HOST=0.0.0.0
APP_PORT=8000

LAW_API_OC=my_raw_api_key
OPENAI_API_KEY=your_openai_api_key
OPENAI_CHAT_MODEL=gpt-4.1-mini

OPENAI_EMBEDDING_API_KEY=my_openai_api_key
OPENAI_EMBEDDING_MODEL=text-embedding-3-small

CHROMA_PATH=storage/chroma
CHROMA_COLLECTION_NAME=gift_tax_documents

RAG_TOP_K=5
RAG_MIN_DISTANCE=1.2
