APP_NAME=gift-tax-rag-server
APP_ENV=local
APP_HOST=0.0.0.0
APP_PORT=8000

LAW_API_OC=my_raw_api_key
OPENAI_API_KEY=your_openai_api_key
OPENAI_CHAT_MODEL=gpt-4.1-mini

OPENAI_EMBEDDING_API_KEY=my_openai_api_key
OPENAI_EMBEDDING_MODEL=text-embedding-3-small

CHROMA_PATH=storage/chroma
LAW_COLLECTION_NAME=gift_tax_law_articles
INTERPRETATION_COLLECTION_NAME=gift_tax_documents
LAW_COSINE_COLLECTION_NAME=gift_tax_law_articles_cosine
INTERPRETATION_COSINE_COLLECTION_NAME=gift_tax_documents_cosine
INTERPRETATION_START_DATE=2014-01-01

INTERPRETATION_TOP_K=4
LAW_TOP_K=2
LAW_CHUNK_TOP_K=10
